{% extends 'base.html' %}
{% block title %}
Добавить фильм
{% endblock %}

 {% block body %}

   

    <div class="container">




    	<div class="row post-add-title">
            <div class="col-lg-6 col-lg-offset-3">
                
                <h2>Заполните форму, чтобы добавить новый фильм на сайт</h2>

            </div>
        </div>
    	<div class="row post-add-form ">
  			<div class="col-lg-6 col-lg-offset-3">
                

                <form method="POST" role="form">
                      <div class="form-group">
                        <label for="film_title">Название фильма:</label>
                        <input type="text" class="form-control" id="text" name="film_title" placeholder="Название фильма">
                      </div>
                      <div class="form-group">
                        <label for="film_text">Описание фильма:</label>
                        <textarea class="form-control" rows="5" id="comment" name="film_text" placeholder="Добавьте отписание фильма"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="user_email">Введите ваш email:</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email пользователя">
                      </div>
                      <div class="form-group">
                          <div class="custom-file">
                              <input type="file" class="custom-file-input" id="customFile" name="film_img">
                              <label class="custom-file-label" for="customFile">Выберите файл с афишей</label>
                          </div>
                      </div>
                      <div class="form-group">
                        <label for="tags">Выберите подходящий тег:</label>    
                        <select multiple class="form-control" name="tags">
                            <option value="Comedy">Комедия</option>
                            <option value="Drama">Драма</option>
                            <option value="Criminal">Криминал</option>
                            <option value="Detective">Детектив</option>
                            <option value="family">Семейный</option> 
                        </select>
                      
                    </div>
                    <div class="form-group">
                    <button type="submit" class="btn btn-primary">Отправить</button>
                    </div>
                </form>
  			</div>	
        </div>
    </div> 
 {% endblock %}