{% extends 'base.html' %}
{% block title %}
Добавить фильм
{% endblock %}

 {% block body %}
<div class="container main">
    <div class="row post-head">
        <div class="col-sm-6">
            <img src="/static/assets/home_alone1-1.jpg" alt="">
        </div>
        <div class="col-sm-6 post-head-title">
            <h2>{{ post.title }}</h2>
            <hr>
	  			<p><b>Автор публикации: </b>{{ post.user_email }}</p>
	  			<p><b>Дата публикации: </b>{{ post.creates_date }}</p>
	  			<br>
	  			<button><a href="https://yandex.ru/search/?text=один%20дома%20смотреть%20онлайн">Искать в Яндексе</a></button>
        </div>
    </div>
    <div class="row post-body">
        <div class="col-lg-12">
            <p>
                {{ post.text }}
            </p>
        </div>
    </div>
</div>
{% endblock %}